@model IEnumerable<NGO.Models.MappingClass.Program>
@{
    ViewBag.ID = 0;
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">DataTable with default features</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        No.
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BeginDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DonationLink)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NeedAmount)
                    </th>
                    <th>
                       Donation Category
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Active)
                    </th>
                    <th>
                        <a onclick="showInPopup('@Url.Action("AddOrEdit", "Program", null, Context.Request.Scheme)', 'New Program')" class="btn btn-success text-white"><i class="fas fa-plus"></i>&ensp;New</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="text-center">
                        @{
                            ViewBag.ID++;
                        }
                        @ViewBag.ID
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Convert.ToDateTime(item.BeginDate).ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @Convert.ToDateTime(item.EndDate).ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DonationLink)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NeedAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DonationCategory.Name)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        <a href="@Url.Action("List", "programImage", new { ProgramId = item.Id })" class="btn btn-dark">Images</a>
                        <a onclick="showInPopup('@Url.Action("AddOrEdit", "Program", new { item.Id }, Context.Request.Scheme)', 'Update Status')" class="btn btn-info"><i class="fas fa-pencil-alt"></i> Edit</a>
                        <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>