@model IEnumerable<NGO.Models.MappingClass.ProgramImage>
@{
    ViewBag.ID = 0;
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">DataTable with default features</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        No.
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Program
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Active)
                    </th>
                    <th>
                        <a onclick="showInPopup('@Url.Action("AddMultiImage", "ProgramImage", null, Context.Request.Scheme)', 'New Program Image')" class="btn btn-success text-white"><i class="fas fa-plus"></i>&ensp;New</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="text-center">
                        @{
                            ViewBag.ID++;
                        }
                        @ViewBag.ID
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <img src="/assetsAdmin/images/programs/@item.Name"  class="rounded-pill" alt="Alternate Text" style=" height:50px; width: 80px"/>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Program.Name)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        <a onclick="showInPopup('@Url.Action("EditSingleImage", "ProgramImage", new { item.Id }, Context.Request.Scheme)', 'Update Program Image')" class="btn btn-info"><i class="fas fa-pencil-alt"></i> Edit</a>
                        <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>